* {
  margin: 0;
  padding: 0;
  font-family: "Catamaran", sans-serif;
}

:root {
  --white: #fff;
  --bg: #f2f2f2;
  --gray: #2d2d2d;
  --black: #212121;
  --orange: #f35f2a;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  background-color: var(--bg);
}

.container {
  max-width: 1100px;
  width: calc(100% - 40px);
  padding: 0 20px;
  margin: 0 auto;
}

.contentBg {
  text-align: center;
  padding: 80px 0;
}

.contentBg h2 {
  font-weight: normal;
  font-size: 45px;
  font-weight: 600;
  font-family: "Dancing Script", cursive;
  margin-bottom: 40px;
  color: var(--black);
}

.contentBg h2 span {
  color: var(--orange);
  font-size: 45px;
  font-weight: 600;
  font-family: "Dancing Script", cursive;
}

.contentBg p {
  text-align: justify;
  font-size: 16px;
  margin: 15px 0;
}

/* Header */

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 0;
  z-index: 99;
  background-color: var(--gray);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a#logo {
  float: left;
  font-family: "Dancing Script", cursive;
  font-size: 35px;
  color: var(--white);
  text-decoration: none;
}

header a#logo svg {
  display: inline-block;
  vertical-align: bottom;
  width: 50px;
  height: 50px;
  margin-right: 8px;
}

header a#menu {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

header a#menu svg {
  width: 30px;
  height: 30px;
}

header nav {
  display: flex;
  gap: 40px;
}

header nav a {
  font-weight: bold;
  text-decoration: none;
  color: var(--white);
  font-size: 15px;
  transition: 0.3s linear all;
}

header nav a:hover,
header nav a.active {
  color: var(--orange);
}

/* Header End */

/* Banner */

section#banner {
  width: 100%;
  margin-top: 80px;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("../images/burgers.jpg");
}

section#banner .overlay {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

section#banner h1 {
  text-align: center;
  font-size: 80px;
  font-weight: 700;
  margin: 0;
  color: var(--white);
  font-family: "Dancing Script", cursive;
}

/* Banner End */

/* Popular Food */

.foodList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

aside.foodTab {
  width: 280px;
  text-align: center;
}

aside.foodTab img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  object-position: center;
  transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

aside.foodTab:hover img {
  transform: scale(1.2);
}

aside.foodTab h3 {
  display: inline-block;
  font-size: 22px;
  padding-bottom: 5px;
  border-bottom: var(--orange) solid 2px;
}

/* Popular Food End */

/* Quotes */

section#quoteBanner {
  background-color: var(--orange);
  width: 100%;
  padding: 40px 0;
  position: relative;
}

section#quoteBanner h2 {
  color: var(--white);
  margin-left: 5%;
  font-weight: 700;
  font-size: 45px;
  font-family: "Dancing Script", cursive;
}

section#quoteBanner img {
  position: absolute;
  right: 5%;
  bottom: 5px;
  width: 380px;
  height: 200px;
  object-fit: contain;
}

section#quoteBanner2 {
  background-color: var(--gray);
  width: 100%;
  padding: 30px 0;
  position: relative;
}

section#quoteBanner2 h2 {
  text-align: right;
  color: var(--white);
  font-weight: normal;
  font-size: 45px;
  margin-right: 5%;
  font-family: "Dancing Script", cursive;
}

section#quoteBanner2 img {
  position: absolute;
  left: 3%;
  bottom: 0px;
  width: 400px;
  height: 200px;
  object-fit: cover;
}

/* Quotes End */

/* Contact */

.contactTab {
  display: flex;
  justify-content: center;
}

section#contact-us address {
  width: 350px;
  text-align: left;
  font-style: normal;
}

section#contact-us aside {
  width: 500px;
  text-align: left;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  outline: none;
  font-size: 16px;
  width: calc(100% - 20px);
  margin: 5px 0;
  padding: 3px 10px;
  border: var(--orange) solid 1px;
  border-radius: 5px;
  background-color: transparent;
}

button[type="submit"] {
  background-color: var(--orange);
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 25px 3px 25px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  color: var(--white);
}

textarea {
  resize: vertical;
}

/* Contact End */

/* Footer */

footer {
  color: var(--white);
  font-size: 12px;
  background-color: var(--gray);
  padding: 15px 0;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer nav {
  display: flex;
  gap: 10px;
}

footer nav a {
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer nav a svg {
  width: 30px;
  height: 30px;
  background-color: var(--white);
  border-radius: 100%;
  border: 1px solid var(--white);
}

/* Footer End */

@media screen and (max-width: 1200px) {
  section#quoteBanner2 {
    padding: 80px 0 30px 0;
    margin-top: 40px;
  }

  section#quoteBanner2 img {
    bottom: 45px;
  }
  section#quoteBanner h2,
  section#quoteBanner2 h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 992px) {
  header a#logo {
    font-size: 30px;
  }

  header nav {
    gap: 30px;
  }
  aside.foodTab {
    width: 220px;
  }

  section#quoteBanner {
    padding: 60px 0 30px 0;
    margin-top: 50px;
  }

  section#quoteBanner h2,
  section#quoteBanner2 h2 {
    text-align: center;
    margin: 0;
    padding: 0 20px;
    font-size: 38px;
  }

  section#quoteBanner img,
  section#quoteBanner2 img {
    bottom: 55px;
  }

  section#contact-us aside {
    width: 380px;
  }
}

@media screen and (max-width: 768px) {
  header a#menu {
    display: block;
  }

  header nav {
    display: none;
    position: absolute;
    flex-direction: column;
    right: 0;
    top: 80px;
    gap: 20px;
    padding: 20px 40px;
    background-color: var(--gray);
  }

  header nav.active {
    display: flex;
  }

  section#banner h1 {
    font-size: 60px;
  }

  .foodList {
    flex-direction: column;
  }

  aside.foodTab {
    margin: 10px 0;
    width: 100%;
  }

  section#quoteBanner img {
    margin: 0 auto;
  }

  section#quoteBanner2 img {
    bottom: 80px;
  }

  .contactTab {
    flex-direction: column;
  }

  section#contact-us aside,
  section#contact-us address {
    width: 100%;
    margin: 20px 0;
  }
}

@media screen and (max-width: 576px) {
  header a#logo {
    font-size: 25px;
  }

  header a#logo svg {
    width: 40px;
    height: 40px;
  }

  header nav {
    top: 70px;
  }

  section#banner {
    margin-top: 70px;
  }

  section#quoteBanner img,
  section#quoteBanner2 img {
    bottom: 100px;
  }

  footer {
    text-align: center;
  }

  footer .container {
    flex-direction: column;
  }

  footer nav {
    margin-top: 10px;
    gap: 20px;
  }
}
